@import './fonts.css';
@import './colors.css';
@import './radius.css';
@import './fonts-size.css';
@import './gap.css';

* {
  box-sizing: border-box;
  
  text-decoration: none;

  color: black;

  scroll-behavior: smooth;

  margin: 0;
  padding: 0;

  outline: none;
  border: none;
  
  /* background-color: transparent; */
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}