.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;

    &__header {
        position: absolute;
        top: 25px;
        left: 63px;
    
        .logo {
          width: 90px;
          height: auto;
        }
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    &__form {
    background-color: #C8D2D7;
    padding: 30px 40px;
    border-radius: 40px;
    width: 830px;
    height: 480px;
    max-width: 830px;
    text-align: center;

        h2 {
            font-size: 36px;
            margin-bottom: 50px;
            color: #385A64;
        }

        input {
            width: 100%;
            padding: 22px 28px;
            margin-bottom: 42px;
            border-radius: 20px;
            border: 2px solid #385A64;
            font-size: 20px;
            outline: none;

            &:focus {
                border-color: #2c3e50;
            }
        }

        button {
            background-color: var(--color3);
            color: #fff;
            border: none;
            font-size: 24px;
            font-weight: 700;
            border-radius: 20px;
            padding: 20px 45px;
            font-size: 1rem;
            box-shadow: inset 3px 6px 4px 0 #243A40;
            text-shadow: 3px 4px 4px #243A40;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: #1a242f;
            }
        }

        .error {
            margin-top: 10px;
            color: red;
            font-size: 0.9rem;
        }
    }

    &__image {
    margin-top: 30px;

        img {
            max-width: 150px;
        }
    }
}
